:root {
    --black: #111111;
    --dark: #294fa0;
    --medium: #427fff;
    --light: #5e91ff;
    --sb-w: 4rem;
    --um: 1rem;
    --backward: cubic-bezier(.68,-0.55,.27,1.55);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--medium);
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    filter: drop-shadow(0 0 10px var(--black));
    width: var(--sb-w);
    z-index: 5;
    /* overflow: scroll; */
}

.sidebar-item {
    padding: 0.9rem;
    margin: 0.5rem 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--dark);
    transition: border-radius 0.5s ease;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.sidebar-item img {
    width: 2rem;
    height: 2rem;
}

.sidebar-item:hover {
    border-radius:0.75rem;
    filter: brightness(0.9);
}

.sidebar-item:active {
    filter: brightness(1.1);
}

.sidebar-item.bottom {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}

.content {
    margin-left: var(--sb-w);
}

.page {
    display: none;
}

.page.shown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    animation: pop 0.125s ease-out;
}

@keyframes pop {
    from {
        scale: 0.1;
    }
    to {
        scale: 1;
    }
}

.page.shown h1 {
    margin: 1rem 0 3rem 0;
}

.page.shown .project {
    margin: 2.5%;
    width: 95%;
    transform: rotate(10deg);
    border-radius: 50% 10% / 10%;
    cursor: pointer;
    transition-property: border-radius , transform;
    transition-duration: 0.75s;
    transition-timing-function: var(--backward);
    max-width: 500px;
}

.page.shown .project:hover {
    border-radius: 0.5rem;
    transform: rotate(0);
}

.p5Canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: overlay;
    opacity: 0.05;
}

.profile {
    height: 20vh;
    display: flex;
    flex-direction: row;
    margin: var(--um);
}

.profile .pic {
    border-radius: 50%;
    height: 20vh;
}

.profile .txt {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile div {
    margin: 0.5rem;
}

.profile .name {
    font-size: 2.5rem;
    font-weight: bold;
}

.skills {
    margin: var(--um);
    text-align: left;
}

.skills h1 {
    margin: 1rem 0 !important;
}

.skills .list {
    display: flex;
    flex-direction: row;
}

.skills .list ul {
    margin: 0 1rem;
    padding: 0;
}

.skills .list li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0.25rem;
    background-color: var(--light);
    font-size: 1.15rem;
}

.contacts {
    width: calc(100vw - 4rem);
    height: 100px;
    background-color: var(--light);
    position: fixed;
    bottom: 0;
    left: 4rem;
    display: flex;
    align-items: center;
}

.contacts .social.linkedin {
    width: 3rem;
    padding: 1rem;
    margin: 0 1rem;
    background-color: #0f5ea3;
    border-radius: 50%;
    transition: border-radius 0.75 ease;
    cursor: pointer;
}

.contacts .social.linkedin:hover {
    border-radius: 0.75rem;
}

.contacts .social img {
    width: 3rem;
}

.contacts .social.github {
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 50%;
    margin: 0 1rem;
    transition: border-radius 0.75s ease;
    cursor: pointer;
}

.contacts .social.github:hover {
    border-radius: 0.75rem;
}

.contacts .social.github img {
    transform: translateY(5%);
}

.contacts .email {
    font-weight: bold;
    font-size: 1.5rem;
}

.empty {
    width: 100%;
    height: 100px;
}

.disclaimer {
    background-color: var(--light);
    padding: 1rem;
    width: fit-content;
    margin: 2rem 4rem;
    border-radius: 0.35rem;
    user-select: none;
    font-weight: bold;
}

.disclaimer a {
    text-decoration: none;
    font-style: italic;
    color: white;
    font-weight: normal;
}

.disclaimer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .sidebar {
        top: auto;
        bottom: 0;
        width: 100vw;
        height: var(--sb-w);
        flex-direction: row;
    }
    .sidebar-item {
        margin: 0 0.3rem;
        flex-basis: center;
    }

    .content {
        margin-left: 0;
        margin-bottom: var(--sb-w);
    }
    .bottom {
        right: 0;
    }
    .contacts {
        left: 0;
        width: 100%;
        margin-bottom: var(--sb-w);
        height: 75px;
    }
    .contacts .social.linkedin {
        padding: 0.3rem 0;
        margin: 0.1rem;
    }
    .contacts .social.linkedin img {
        width: 2rem;
        height: 2rem;
    }
    .contacts .social.github {
        width: 1.6rem;
        margin: 0 0.2rem;
        padding: 0.6rem;
    }
    .contacts .social.github img{
        width: 1.6rem;
    }
    .contacts .email {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .cv .name{
        font-size: 1.5rem;
    }
    .sidebar-item {
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.25rem;
        margin: 0 .1rem;
    }
    .sidebar-item img {
        width: 1rem;
        height: 1rem;
    }
    .sidebar .bottom {
        top: 0;
        transform: translateY(18%);
    }
}
